# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-16.04'


variables:
  #npm_config_cache: $(Build.SourcesDirectory)/node_modules
  npm_config_cache: ~/.pnpm-store
steps:
- task: NodeTool@0
  inputs:
    versionSpec: '13.x'
  displayName: 'Install Node.js'

- script: |
    node generate-cache-key.js
  displayName: 'create copy of package lock to use as cache key'

- task: Cache@2
  inputs:
    key: 'pnpm | "$(Agent.OS)" | package-lock.hash'
    path: $(npm_config_cache)
    cacheHitVar: CACHE_RESTORED
  displayName: Cache node_modules

- script: |
    echo '$(Pipeline.Workspace)'
    echo '$(npm_config_cache)'
    ls '$(npm_config_cache)' -la
    ls -la
  displayName: 'Debug'

- script: |
    npx pnpm install --frozen-lockfile=false
  displayName: 'pnpm install'
  condition: ne(variables['CACHE_RESTORED'], 'true')

- script: |
    node_modules/.bin/semantic-release --debug
  displayName: 'generate version and changelog'

- script: |
    npm run build
  displayName: 'build'

- script: |
    npm run test:ci
  displayName: 'run unit tests'
  enabled: false

- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/TESTS-*.xml'
  displayName: 'Publish Test Results'
  enabled: false

- task: PublishCodeCoverageResults@1
  condition: succeededOrFailed()
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: '$(Build.SourcesDirectory)/coverage/korobeiniki/cobertura-coverage.xml'
  displayName: 'Publish Code Coverage Results'
  enabled: false

- script: |
    node_modules/.bin/now deploy --prod dist/korobeiniki --token $(NOW_TOKEN) -c -d
  displayName: 'publish to zeit'
  timeoutInMinutes: 1

- script: |
    node_modules/.bin/firebase deploy --token $(FIREBASE_TOKEN)
  displayName: 'publish to firebase'
  timeoutInMinutes: 1

- script: |
    echo y | node_modules/.bin/modclean --patterns="angular"
  displayName: 'trim node_modules to reduce cache size'
