<div class="left">
    <table class="help">
      <tr>
        <td>
          <img src="/assets/xbox/XboxOne_A.png" />
          <img src="/assets/xbox/XboxOne_Dpad_Up.png" />
        </td>
        <td>rotate clockwise</td>
      </tr>
      <tr>
          <td>
              <img src="/assets/xbox/XboxOne_RT.png" />
            <img src="/assets/xbox/XboxOne_X.png" />
          </td>
          <td>fast drop</td>
      </tr>
      <tr>
          <td>
            <img src="/assets/xbox/XboxOne_LB.png" />
            <img src="/assets/xbox/XboxOne_RB.png" />
          </td>
          <td>pause / continue</td>
      </tr>
      <tr>
          <td>
            <img src="/assets/xbox/XboxOne_Windows.png" />
          </td>
          <td>toggle fullscreen</td>
      </tr>
      <tr>
          <td>
            <img src="/assets/xbox/XboxOne_Menu.png" />
          </td>
          <td>toggle mouse / gamepad</td>
      </tr>
      <tr>
          <td>
            <img src="/assets/xbox/XboxOne_Left_Stick.png" />
            <img src="/assets/xbox/XboxOne_Dpad_Left.png" />
            <img src="/assets/xbox/XboxOne_Dpad_Right.png" />
            <img src="/assets/xbox/XboxOne_Dpad_Down.png" />
          </td>
          <td>move</td>
      </tr>
    </table>
  </div>
  <app-field *ngIf="game.playerName" [class.paused]="gameIsPaused" [game]="game"></app-field>
  <app-enter-player-name *ngIf="!game.playerName" [game]="game"></app-enter-player-name>

  <div class="gameStatus">
    <div class="playerName">{{(events.playerNameEntered$ | async)}}</div>
    <div class="score">Top: {{(events.highscore$ | async)?.score}}</div>
    <div class="score">Score: {{(events.score$ | async)?.score}}</div>
    <div class="level">Level: {{(events.score$ | async)?.level}}</div>
    <div class="lines">Lines: {{(events.score$ | async)?.lines}}</div>
    <div class="speed">Speed: {{ (1000 / game.stepTime * 100) | number:'1.0-0'}}%</div>
    <div class="fps">FPS: {{loop.fps$ | async}}</div>
    <div class="preview">
      Next:

      <div *ngIf="game.preview">
        <app-block *ngFor="let block of game.preview.blocks" [data]="block"></app-block>
      </div>
    </div>
  </div>
